<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="email" class="form-control email-input" placeholder="Email...">
          </div>
        </form>
      </li>
      <li>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password...">
          </div>
        </form>
      </li>
      <li><button type="submit" class="btn btn-default log-in-button">Log In</button></li>
    </ul>
    <a href="#" class="btn btn-info btn-lg pull-right"><span class="glyphicon glyphicon-shopping-cart"></span>Shopping Cart</a>
  </div>
</nav>
