<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="email" class="form-control email-input" placeholder="Email...">
          </div>
        </form>
      </li>
      <li>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Passsword...">
          </div>
        </form>
      </li>
      <li><button type="submit" class="btn btn-default log-in-button">Log In</button></li>
    </ul>
    <img class="pull-right col-md-2 fandango-logo" src="./images/fandango_light.png" alt="Powered by Fandango">
  </div>
</nav>
