<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li>
        <div class="form-group"><a href="mailto:nathanam@gmail.com">
            <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-envelope"></span> Email Me
            </button>
            </a>
        </div>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=neO5fnwQjqg" target="_blank">
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-film"></span> Witness
          </button>
          </a>
      </li>
    </ul>
    <a href="#" class="btn btn-info btn-lg pull-right"><span class="glyphicon glyphicon-shopping-cart"></span>Shopping Cart</a>
  </div>
</nav> -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid col-md-offset-4">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li><a href="mailto:nathanam@gmail.com"><span class="glyphicon glyphicon-envelope"></span> Email Me</a></li>
        <li class="navbar-text center-block">The Revolution has already begun</li>
        <li><a href="https://youtu.be/b66gLKLU8yU?t=2m14s" target="_blank"><span class="glyphicon glyphicon-film"></span> Witness</a></li>
      </ul>
    </div>
  </div>
</nav>